<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings/>
    <connectionStrings/>
    <system.webServer>
<staticContent> 
          <mimeMap fileExtension="." mimeType="application/json" />
</staticContent> 
</system.webServer> 
</configuration>